/*these changes to your grid will fill any available space
and maximize the size of your buttons/td let me know if they work
or if it needs some tweeks :)*/

.grid td {
    cursor: pointer;
    width: 10em;
    height: 30px;
    border: 6px solid #0a0a97;
    border-radius: 5px;
    text-align: center;
    font-family: sans-serif;
    font-size: 39px;
}
.grid {
margin: -1em auto;
margin-right: 5%;
height: -webkit-fill-available;
width: -webkit-fill-available;
border: 9px steelblue solid;
}
